.resources__logo-zone {
    display: flex;
    margin: 80px auto 0;
    padding: 0;
    width: 1100px;
    list-style: none;
}

.resources__logo-zone > .link-transform:nth-of-type(1) {
    background: url(../../../images/resources-arzamas.svg) center no-repeat;
    background-size: contain;
}

.resources__logo-zone > .link-transform:nth-of-type(2) {
    background: url(../../../images/resources-n1.svg) center no-repeat;
    background-size: contain;
}

.resources__logo-zone > .link-transform:nth-of-type(3) {
    background: url(../../../images/resources-strelka.svg) center no-repeat;
    background-size: contain;
}

.resources__logo-zone > .link-transform:nth-of-type(4) {
    background: url(../../../images/resources-polka.svg) center no-repeat;
    background-size: contain;
}