@keyframes rotation {
    from {
        transform: rotate(initial);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Микс для анимации */

.animation {
    animation: rotation 20s linear infinite;
}

/* Микс для ссылок */

.link-transform {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.link-transform:hover {
    opacity: 0.6;
}

/* Микс для того чтобы треугольник не наезжал на заголовок */

.visibility {
    position: relative;
    z-index: 1;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    padding-left: 64px;
    overflow: hidden;
    /* выше установили ограничения для секции */
}

.logo {
    width: 183px;
    height: 32px;
    background-image: url(../images/logo_place_header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 2;
}

.header__title {
    margin: auto 0;
    padding: 0;
    z-index: 2;
    width: 730px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
}

.header__subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 2; 
    margin: 0;
    padding: 0;
    width: 389px; /* при 388px "подходы" съезжают на следующую строку */
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__main-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 765px;
    height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    transform: rotate(-15deg);
}

/* Description */

.description {
    display: flex;
    padding-top: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.two-columns__brief {
    margin: 0;
    padding: 0;
    width: 175px;
    color: #2f80ed;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.two-columns__main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}

.two-columns__paragraph:not(:last-of-type) {
    margin-bottom: 30px;
}

.two-columns__span-accent {
    font-weight: bold;
}

/* Techniques */

.techniques {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin: auto;
    width: 80%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 0 100px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 920px;
}

.cards__item {
    padding-top: 60px;
    min-height: 400px;
    width: 240px;
    min-height: 340px;
}

.cards__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 40px 43px;
}

.cards__title {
    margin: 0 0 16px;
    padding: 0;
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
    text-align: center;
}

.cards__description {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    text-align: center;
}

/* Video */

.video {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.video__iframes {
    position: relative;
    left: 0;
    bottom: -50px;
    z-index: 1;
    display: grid;
    width: 1050px;
    grid-template-columns: repeat(auto-fill, 515px);
    grid-gap: 0 20px;
    margin: 0 auto;
}

/* Oakley */

.oakley {
    padding-top: 160px;
    background-color: #f2f2f2;
}

/* Feynman */

.feynman {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 80px;
    background-color: #f2f2f2;
    height: 790px;
}

.feynman__title {
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0;
    text-align: center;
    width: 648px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    z-index: 1;
}

.feynman__subtitle {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    z-index: 1;
}

.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.feynman__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
}

/* Digits */

.digits {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    margin: auto;
}

.section-title {
    margin: 0 auto 20px auto;
    padding: 0;
    text-align: center;
    width: 60%;
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
}

.section-subtitle {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 60%;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 1100px;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
}

.table__text {
    margin: 20px 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

/* Khan */

.khan {
    padding-top: 105px;
    background-color: #f2f2f2;
}

.khan__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.khan__autor {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
}

.khan__title {
    margin: 0 0 50px;
    padding: 0;
    font-size: 60px;
    line-height: 1.15;
    font-weight: bold;
}

.khan__quote {
    margin: 0 0 36px;
    padding: 0;
}

.khan__quote-text {
    margin: 0;
    padding: 0;
    width: 790px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}

.khan__quote-author {
    margin: 0 0 10px;
    padding: 0;
    font-style: normal;
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
}

.khan__quote-author-subline {
    margin: 0 0 68px;
    padding: 0;
    font-size: 24px;
    line-height: 1.15;
    font-weight: normal;
}

.khan__book-container {
    display: flex;
}

.khan__book-pic {
    width: 608px;
    height: 620px;
    object-fit: cover;
    object-position: 0 0;
    margin-right: 48px;
}

.khan__buy-link {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}

/* Kaufman */

.kaufman {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1f1f1f;
    overflow: hidden;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
    color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 1;
}

.table__heading_theme_dark,
.table__text_theme_dark {
    color: white;
}

.kaufman__triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    top: -5px;
    right: -210px;
    background-image: url(../images/kaufman-triangle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Resources */

.resources {
    display: flex;
    flex-direction: column;
    padding: 100px 0 217px;
    margin: 0 auto;
    width: 100%;
    /* min-height: 558px; */
}

.resources__logo-zone {
    margin: 80px auto 0;
    display: flex;
    width: 1100px;
}

.resources__logo {
    display: block;
    width: 270px;
    height: 38px;
}

.resources__logo:nth-of-type(1) {
    background: url(../images/logo/resources-arzamas.svg) center no-repeat;
    background-size: contain;
}

.resources__logo:nth-of-type(2) {
    background: url(../images/logo/resources-n1.svg) center no-repeat;
    background-size: contain;
}

.resources__logo:nth-of-type(3) {
    background: url(../images/logo/resources-strelka.svg) center no-repeat;
    background-size: contain;
}

.resources__logo:nth-of-type(4) {
    background: url(../images/logo/resources-polka.svg) center no-repeat;
    background-size: contain;
}

/* Footer */

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    color: #ffffff;
    min-height: 250px;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.footer__column_content-copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 711px; 
}

.logo_place_footer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 35px;
    background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
    margin: 18px 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.footer__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

.footer__column_content-info {
    display: flex;
    flex-direction: column;
}

.footer__column_content-social {
    display: flex;
    flex-direction: column;
}

.footer__column-heading {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}