.khan__buy-link {
<<<<<<< HEAD
=======
    /* width: 223px;
    height: 42px; */
>>>>>>> 1a3e2cdf7a5fa78728cbe4b3cfa053b4bf5685db
    align-self: start;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}